* {
    margin: 0;
    padding: 0;
    outline: 1px solid green;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navigation a,
.unvisible-box-team a {
    display: block;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.navigation-list-item,
.section-title-services .title,
.section-title-team .title,
.about-service-title,
.team-member-name,
input[type="submit"] {
    text-transform: uppercase;
}
.header, .navigation-list{
    display: flex;
}
.header, .navigation-list{
    justify-content: space-between;
}
.header{
    min-height: 65px;
    align-items: flex-end;    
}
.header a{
    color: #95e1d3;
    border-bottom: 3px solid transparent;    
}
.logo{
    font: 700 30px/36px 'Montserrat', sans-serif;
    margin: 0;
}
.navigation-list{
    font: 400 14px/27px 'Montserrat', sans-serif;
    min-width: 490px;     
}
.navigation-list-item a{
    transition: color 0.2s linear, border-color 0.2s linear;
}
.navigation-list-item:hover a {
    color: #f38181;
    border-color: #f38181;
}



