* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

img {
    display: block;
}

.header a,
.footer a,
.unvisible-box a {
    text-decoration: none;
}

.header a,
.unvisible-box a {
    display: block;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.navigation,
.title,
.services h3,
.employee h3,
.footer input[type="submit"] {
    text-transform: uppercase;
}

.header ul,
.services ul,
.employees,
.unvisible-box ul {
    list-style-type: none;
}

.header,
.header ul,
.services ul,
.services li,
.employees,
.footer,
.footer form,
.unvisible-box ul {
    display: flex;
}

.header,
.services ul,
.services li,
.employees,
.footer {
    justify-content: space-between;
}

.title-description,
.title,
.team-description,
.employee h3,
.employee p {
    text-align: center;

}

.header,
.footer {
    min-height: 65px;
}

.header {
    align-items: flex-end;
    margin-bottom: 115px;
}

.header a {
    color: #95e1d3;
    border-bottom: 3px solid transparent;
}

.logo {
    font: 700 30px/36px 'Montserrat', sans-serif;

}

.navigation {
    font: 400 14px/36px 'Montserrat', sans-serif;
}

.navigation li {
    margin-right: 55px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li a {
    transition: color 0.2s linear, border-color 0.2s linear;
}

.navigation li:hover a {
    color: #f38181;
    border-color: #f38181;
}

.title-description,
.title {
    color: #333;
}

.title-description {
    font: 400 24px/29px 'Kaushan Script', sans-serif;
    padding-bottom: 12px;
}

.title {
    font: 700 30px/36px 'Montserrat', sans-serif;
    margin-bottom: 65px;
}
.team .title{
    margin-bottom: 40px;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 34px auto 0;
    background-color: #f38181;
}

.services ul {
    flex-wrap: wrap;
}

.services li {
    width: 335px;
    margin-bottom: 105px;
}
.services li:nth-last-child(-n+3){
    margin-bottom: 100px;
}
.services img {
    margin-right: 30px;
}

.service h3,
.employee h3,
.footer p,
.footer a {
    font: 400 14px/17px 'Montserrat', sans-serif;
    color: #333;
}

.service p,
.team-description {
    font: 400 15px/24px 'Roboto', sans-serif;
    color: #999;
}

.team-description {
    width: 950px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.employee {
    margin-bottom: 78px;
    position: relative;
}

.employee p {
    font: 300 italic 15px/24px 'Roboto', sans-serif;
    color: #999;
}
.employee h3{
    padding-bottom: 7px;
}

.team-img {
    background-color: #95e1d3;
    margin-bottom: 30px;
}

.team-img>img {
    transition: transform 0.2s linear;
}

.employee:hover .team-img>img {
    transform: translate(-10px, -10px);
}

.unvisible-box {
    position: absolute;
    top: -10px;
    left: -10px;
    background: linear-gradient(to top, rgba(252, 227, 138, .9), rgba(243, 129, 129, .9));
    opacity: 0;
    transition: opacity 0.2s linear;
}

.employee:hover .unvisible-box {
    opacity: 1;
}

.unvisible-box ul {
    min-height: 471px;
    min-width: 381px;
    justify-content: center;
    align-items: center;
}

.unvisible-box li {
    border-right: 1px solid #f38181;
}

.unvisible-box li:last-child {
    border-right: 0;
}

.unvisible-box a {
    background-color: #fce38a;
    transition: background-color 0.2s linear;
}

.unvisible-box a:hover {
    background-color: #95e1d3;
}

.footer {
    align-items: center;
    border-top: 1px solid #e5e5e5;
}

.footer a {
    color: #f38181;
}
.footer input{
    cursor: pointer;
}

.footer input[placeholder] {
    min-width: 230px;
    font: 300 italic 15px/40px 'Roboto', sans-serif;
    color: #ccc;
    border: 1px solid #e7e7e7;
    padding-left: 10px;
}

footer input[type="submit"] {
    min-width: 150px;
    font: 700 14px/40px 'Montserrat', sans-serif;
    color: #fff;
    background-color: #95e1d3;
    border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}