* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: auto;
    color: #626262;
}

header {
    padding: 73px 0 99px;
}

.navigation {
    text-align: center;
}

.navigation li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 106px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
}

.navigation a:hover {
    color: #03a9f4;
}

.articles article {
    display: inline-block;
    vertical-align: top;
    width: 420px;
    margin-bottom: 130px;
}

.articles img {
    display: block;
    margin-bottom: 29px;
}

.articles article:nth-child(odd) {
    margin-right: calc(60px - 4px);
}

.articles article:last-child,
.articles article:nth-last-child(2) {
    margin-bottom: 50px;
}

.category {
    font: 300 14px/17px 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.articles h2 {
    font: 400 30px/36px 'Playfair Display', sans-serif;
    margin-bottom: 29px;
}

.content {
    font: 400 14px/24px 'Playfair Display', sans-serif;
}

main button {
    display: block;
    width: 165px;
    margin: 0 auto 70px;
    background: #fff;
    font: 400 20px/55px 'Playfair Display', sans-serif;
    border: 1px solid #626262;
    color: #626262;
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}