.wrapper {
    width: 904px;
    margin: auto;
    padding: 50px 0 70px 0;
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

header {
    padding-bottom: 50px;
}

.navigation {
    width: 572px;
    margin: auto;
}

.navigation ul {
    padding: 0;
}

.navigation li {
    list-style: none;
    display: inline-block;
    margin-right: 102px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
}

.navigation a:hover {
    color: #0099ff;
}

.articles article {
    display: inline-block;
    width: 420px;
    margin-bottom: 135px;
}

.articles article:nth-child(odd) {
    margin-right: 60px;
}

.articles article:last-child,
.articles article:nth-last-child(2) {
    margin-bottom: 50px;
}

.category {
    font-family: 'Ubuntu', sans-serif;
    color: #cc9999;
    text-transform: uppercase;
    line-height: 17px;
    margin: 30px 0 23px 0;
}

.articles h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 32px 0;
}

.content {
    margin: 0;
}

main button {
    display: block;
    margin: auto;
    background: #fff;
    padding: 15px 25px;
    border: 1px solid #666;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}