.wrapper {
    width: 900px;
    margin: auto;
    padding: 70px 0 70px 0;
    font-family: 'Playfair Display', sans-serif;
    font-size: 0;
    line-height: 24px;
    font-weight: 400;
    color: #666;
}

header {
    padding-bottom: 97px;
}

.navigation {
    width: 572px;
    margin: auto;
}

.navigation ul {
    padding: 0;
}

.navigation li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 106px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.navigation a:hover {
    color: #0099ff;
}

.articles article {
    display: inline-block;
    vertical-align: top;
    width: 420px;
    margin-bottom: 130px;
}

.articles article:nth-child(odd) {
    margin-right: 60px;
}

.articles article:last-child,
.articles article:nth-last-child(2) {
    margin-bottom: 50px;
}

.category {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 19px 0;
}

.articles h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 0 29px 0;
}

.content {
    margin: 0;
    font-size: 14px;
}

main button {
    display: block;
    width: 165px;
    margin: auto;
    background: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    line-height: 55px;
    font-weight: 400;
    border: 1px solid #666;
    color: #666;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}