.wrapper{
    width: 904px;
    margin: auto;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 14px;
    line-height: 24px;
    color: #666;
}
header{
    padding: 50px 0;
}
.navigation{
    width: 572px;
    margin: auto;
}
.navigation ul{
    padding: 0;
}
.navigation li{
    margin-right: 102px;
}
.navigation li:last-child{
    margin-right: 0;
}
.navigation a{
    text-transform: uppercase;
    text-decoration: none;
    color: #666;    
}
.navigation ul li{
    list-style: none;
    display: inline-block;
}
.navigation ul li a:hover{
    color: #0099ff;
}
article{
    display: inline-block;
    width: 420px;
    margin: 0 0 135px 0;
}
article:nth-child(odd){
    margin-right: 60px;
}
article:nth-child(5), article:nth-child(6){
    margin-bottom: 50px;
}
.category{
    font-family: 'Ubuntu', sans-serif;
    color: #cc9999;  
    text-transform: uppercase; 
    line-height: 17px; 
    margin: 30px 0 23px 0;     
}
article h2{
    font-size: 30px;
    line-height: 36px; 
    margin: 0 0 32px 0;   
}
.content{
    margin: 0;
}
main  button{
    display: block;
    margin:0 auto 70px;
    background: #fff;
    padding: 15px 25px;
    border: 1px solid #666;
}