img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 14px;
    box-sizing: border-box;
}

.header,
.partners {
    text-align: center;
}

.header {
    background: url(../img/bg.jpg) no-repeat center/cover;
}

.navigation {
    display: flex;
}

.logo,
.title-header {
    text-transform: uppercase;
}

.user-initialization a,
.logo,
.content-header-box,
.find-partner {
    color: #fff;
}

.user-initialization {
    min-width: 90px;
    text-align: center;
    font: 700 14px/32px 'Montserrat', sans-serif;
    border: 3px solid transparent;
    border-radius: 25px;
    transition: border 0.2s linear;
}

.user-initialization:hover {
    border: 3px solid #fff;
}

.logo {
    font: 700 20px/32px 'Montserrat', sans-serif;
}

.title-header {
    font: 700 30px/32px 'Montserrat', sans-serif;
}

.find-partner {
    font: 700 14px/40px 'Montserrat', sans-serif;
    background-color: #ff4e50;
    border-radius: 25px;
}

.list-partners {
    display: flex;
    flex-wrap: wrap;
}

.partners {
    padding-bottom: 87px;
}

.partner {
    width: 215px;
}

.title-section {
    font: 700 22px/26px 'Montserrat', sans-serif;
    color: #333;
}

.photo-partner {
    width: 123px;
    margin: 0 auto;
    position: relative;
}

.photo-partner img {
    border-radius: 50%;
}

.icon-1 {
    --bg-icon: url(../img/icon-1.png);
    --bg-color: #ff4e50;
}

.icon-2 {
    --bg-icon: url(../img/icon-2.png);
    --bg-color: #ffa507;
}

.icon-3 {
    --bg-icon: url(../img/icon-3.png);
    --bg-color: #1cd7ad;
}

.icon-4 {
    --bg-icon: url(../img/icon-4.png);
    --bg-color: #4e73db;
}

.photo-partner::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: var(--bg-icon) no-repeat center, var(--bg-color);
}

.name-partner {
    font: 700 14px/46px 'Montserrat', sans-serif;
    color: #333;
}

.about-partner {
    font: 300 14px/17px 'Roboto', sans-serif;
    color: #666;
}

.more-partners {
    font: 700 14px/35px 'Montserrat', sans-serif;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .navigation {
        justify-content: center;
        padding: 20px 0 110px;
    }

    .logo {
        padding-bottom: 24px;
    }

    .content-header-box {
        padding-bottom: 136px;
    }

    .title-header {
        font: 700 30px/36px 'Montserrat', sans-serif;
    }

    .description {
        margin: 0 auto;
        font: 300 18px/22px 'Roboto', sans-serif;
        width: 220px;
        padding: 9px 0 14px;
    }

    .title-section {
        padding: 66px 10px 15px;
    }
    .partner{
        margin-bottom: 25px;
    }

    .list-partners {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .container {
        width: 703px;
    }

    .navigation-box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 38px 0 136px;
    }

    .content-header-box {
        width: 503px;
        margin: 0 auto;
        padding-bottom: 234px;
    }

    .title-header {
        font: 700 52px/62px 'Montserrat', sans-serif;
    }

    .description {
        font: 300 24px/29px 'Roboto', sans-serif;
        padding: 23px 0 34px;
    }

    .find-partner {
        width: 230px;
        margin: 0 auto;
    }

    .title-section {
        padding: 70px 0 33px;
    }

    .list-partners {
        justify-content: space-around;
    }
    .partner{
        margin-bottom: 50px;
    }
    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 3;
    }

    .order-3 {
        order: 2;
    }

    .order-4 {
        order: 4;
    }

    .more-partners {
        width: 190px;
        margin: 0 auto;
    }

}

@media (min-width: 768px) and (max-width: 1439px) {
    .partners.container {
        width: 550px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 970px;
    }

    .title-section {
        padding: 70px 0 30px;
    }
}