img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.header,
.partners {
    text-align: center;
}

.content-header-box,
.logo,
.find-partner, .user-initialization a {
    color: #fff;
}

.logo,
.title-header {
    text-transform: uppercase;
}

.user-initialization a,
.find-partner {
    font: 700 14px/17px 'Montserrat', sans-serif;
}

.header {
    background: url(../img/bg.jpg) no-repeat top;
}

.navigation {
    padding: 20px 0 110px;
}

.user-initialization {
    display: inline-block;
}

.user-initialization:first-child {
    margin-right: 20px;
}

.user-initialization a {
    padding: 8px 15px;
    font: 700 14px/17px 'Montserrat', sans-serif;
    border: 2px solid #fff;
    border-radius: 25px;
}
.logo{
    font: 700 20px/24px 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

.title-header{
    font: 700 30px/36px 'Montserrat', sans-serif;
}
.title-header-addition{
    font: 300 18px/22px 'Roboto', sans-serif;
    width: 220px;
    margin: 0 auto 20px;
}
.content-header-box{
    padding-bottom: 120px;
}

.find-partner{
    width: 280px;
    background-color:#ff4e50;
    border-radius: 25px;
    padding: 11px 0;
}











.partner {
    width: 220px;
    margin: 0 auto;
}

.photo-partner {
    margin: 0 auto;
    border-radius: 50%;
}