* {
    outline: 1px solid green;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 14px;
    box-sizing: border-box;
}

.header {
    background: url(../img/bg.jpg) no-repeat center/cover;
    text-align: center;
}

.navigation {
    display: flex;
}

.logo,
.title-header {
    text-transform: uppercase;
}

.user-initialization a,
.logo,
.content-header-box,
.find-partner {
    color: #fff;
}

.user-initialization {
    min-width: 90px;
    text-align: center;
    font: 700 14px/32px 'Montserrat', sans-serif;
    border: 3px solid transparent;
    border-radius: 25px;
    transition: border 0.2s linear;
}

.user-initialization:hover {
    border: 3px solid #fff;
}

.logo {
    font: 700 20px/32px 'Montserrat', sans-serif;
}

.title-header {
    font: 700 30px/32px 'Montserrat', sans-serif;
}

.find-partner {
    font: 700 14px/40px 'Montserrat', sans-serif;
    background-color: #ff4e50;
    border-radius: 25px;
}












@media screen and (max-width: 767px) {

    .navigation {
        justify-content: center;
        padding: 20px 0 110px;
    }

    .logo {
        padding-bottom: 24px;
    }

    .content-header-box {
        padding-bottom: 136px;
    }

    .title-header {
        font: 700 30px/36px 'Montserrat', sans-serif;
    }

    .description {
        margin: 0 auto;
        font: 300 18px/22px 'Roboto', sans-serif;
        width: 220px;
        padding: 9px 0 14px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 700px;
    }

    .navigation-box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 38px 0 136px;
    }

    .content-header-box {
        width: 503px;
        margin: 0 auto;
        padding-bottom: 234px;
    }

    .title-header {
        font: 700 52px/62px 'Montserrat', sans-serif;
    }

    .description {
        font: 300 24px/29px 'Roboto', sans-serif;
        padding: 23px 0 34px;
    }

    .find-partner {
        width: 230px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 942px) {

}