* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

header,
.products,
.slider {
    text-transform: uppercase;
}

header li,
.products li,
.slider li {
    list-style-type: none;
}

header a,
.slider a,
.products a {
    text-decoration: none;
    display: block;
}

header {
    padding: 30px 0 27px;
}

header .logo {
    float: left;
    font: 300 30px/32px 'Roboto', sans-serif;
}

header .logo a {
    color: #555252;
}

header .logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

header .navigation {
    float: right;
    font: 700 14px/32px 'Open Sans', sans-serif;
}

header .navigation li {
    float: left;
    margin-right: 30px;
}

header .navigation a {
    color: #0f0101;
}

header .navigation li:last-child {
    margin-right: 0;
}

header .navigation a:hover {
    color: #1abc9c;
}

.slider {
    height: 600px;
    background: linear-gradient(rgba(0, 0, 2, .5),
            rgba(0, 0, 0, .5)),
        url(../img/slide4.jpg) top/cover no-repeat;

}

.slider .container {
    position: relative;
    height: 100%;
}

.slider button {
    border: none;
    font-size: 100px;
    color: #fff;
    background-color: #1abc9c;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider button:hover {
    opacity: 0.65;
}

.slider ul,
.slider li {
    height: 100%;
}

.slider .prev {
    left: 0;
}

.slider .next {
    right: 0;
}

.slide {
    color: #fff;
    position: relative;
}

.slide .content {
    width: 905px;
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide h2 {
    font: 900 60px/82px 'Roboto', sans-serif;
}

.slide h3 {
    font: 300 24px/54px 'Roboto', sans-serif;
}

.products {
    background-color: #e9f0fd;
}

.products h2 {
    text-align: center;
    padding-top: 87px;
    margin-bottom: 83px;
    font: 900 48px 'Roboto', sans-serif;
    color: #515151;
}

.products h2::after {
    content: "";
    display: block;
    width: 165px;
    height: 7px;
    margin: 20px auto 0;
    background-color: #1abc9c;
}

.products li {
    width: 255px;
    float: left;
    margin: 0 30px 98px 0;
}

.products li:last-child {
    margin-right: 0;
}

.properties {
    background-color: #323232;
}

.products .title,
.products .price {
    float: left;
    font: 900 18px/40px 'Roboto', sans-serif;
    color: #fff;
}

.products .title {
    width: 200px;
    box-sizing: border-box;
}

.products .title a {
    padding-left: 15px;
    color: #fff;
}

.products .price {
    width: 55px;
    text-align: center;
    background-color: rgba(255, 255, 255, .4);
}

.products li:hover .properties,
.unvisible-box-product li:hover button {
    background-color: #1abc9c;
}

.unvisible-box-product li:hover button {
    border: 1px solid #1abc9c;
}

.product {
    position: relative;
}

.products li:hover .unvisible-box-product {
    display: block;
}

.unvisible-box-product {
    display: none;
    width: 235px;
    height: 261px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.unvisible-box-product li {
    width: 50px;
    margin: 0 10px 7px 0;
}

.unvisible-box-product .icons {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unvisible-box-product button {
    width: 100%;
    font-size: 30px;
    line-height: 50px;
    background: none;
    color: #fff;
    cursor: pointer;
}

.unvisible-box-product .cart {
    background-color: #323232;
}

.unvisible-box-product .cart button {
    border: none;
    width: 49px;
    float: left;
    cursor: pointer;
}

.unvisible-box-product button,
.unvisible-box-product .cart {
    border: 1px solid #fff;
}

.unvisible-box-product .cart p {
    float: left;
    width: 119px;
    line-height: 50px;
}

footer {
    background-color: #323232;
    padding: 30px 0 32px;
    font: 400 16px/28px 'Open Sans', sans-serif;
    text-align: center;
    color: #fefefe;
}

footer a {
    color: #46bfa9;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}