* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

header,
.products,
.slider,
.add-to-cart {
    text-transform: uppercase;
}

header li,
.products li,
.slider li {
    list-style-type: none;
}

header a,
.slider a,
.products a {
    text-decoration: none;
    display: block;
}

.prev,
.next,
.unvisible-box-product button {
    cursor: pointer;
    border: none;
    background: none;
}

.header {
    padding: 30px 0 27px;
}

.logo {
    float: left;
    font: 300 30px/32px 'Roboto', sans-serif;
}

.logo a {
    color: #555252;
}

header .logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.navigation {
    float: right;
    font: 700 14px/32px 'Open Sans', sans-serif;
}

.navigation li {
    float: left;
    margin-right: 30px;
}

.navigation a {
    color: #0f0101;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a:hover {
    color: #1abc9c;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
}

.slide::before{
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.buttons {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.prev,
.next {
    font-size: 100px;
    color: #fff;
    background-color: #1abc9c;
    opacity: 0.65;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide {
    position: relative;
}

.slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.slide .content {
    width: 910px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide h2 {
    font: 900 60px/82px 'Roboto', sans-serif;
}

.slide h3 {
    font: 300 24px/54px 'Roboto', sans-serif;
}

.products {
    background-color: #e9f0fd;
}

.products h2 {
    text-align: center;
    padding-top: 87px;
    margin-bottom: 83px;
    font: 900 48px 'Roboto', sans-serif;
    color: #515151;
}

.products h2::after {
    content: "";
    display: block;
    width: 165px;
    height: 7px;
    margin: 20px auto 0;
    background-color: #1abc9c;
}

.product {
    width: 255px;
    float: left;
    margin: 0 30px 98px 0;
}

.product:last-child {
    margin-right: 0;
}

.product:hover .properties {
    background-color: #1abc9c;
}

.properties {
    background-color: #323232;
}

.title,
.price {
    float: left;
    font: 900 18px/40px 'Roboto', sans-serif;
    color: #fff;
}

.title {
    width: 200px;
    box-sizing: border-box;
}

.title a {
    padding-left: 15px;
    color: #fff;
}

.price {
    width: 55px;
    text-align: center;
    background-color: rgba(255, 255, 255, .4);
}

.img-box {
    position: relative;
}

.unvisible-box-product {
    display: none;
    width: 235px;
    height: 261px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product:hover .unvisible-box-product {
    display: block;
}

.icons {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons button {
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: #fff;
}

.icons li {
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 50px;
}

.icons li:nth-child(-n+3),
.cart button {
    width: 50px;
}

.icons li:nth-child(-n+3) {
    display: inline-block;
    margin: 0 6px 7px 0;
}

.icons li:nth-last-child(2) {
    margin-right: 0;
}

.icons li:nth-child(-n+3):hover {
    background-color: #1abc9c;
    border: none;
}

.cart {
    background-color: #323232;
}

.cart button,
.add-to-cart {
    float: left;
}

.add-to-cart {
    font: 400 14px/50px 'Open Sans', sans-serif;
    padding-left: 10px;
    width: 108px;
}

.footer {
    background-color: #323232;
    padding: 30px 0 32px;
    font: 400 16px/28px 'Open Sans', sans-serif;
    text-align: center;
    color: #fefefe;
}

.footer a {
    color: #46bfa9;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}