$colors: (white: #fff,
  light-yellow: #fce38a,
  light-coral: #f38181,
  gray20: #333,
  gray90: #e5e5e5,
  gray: #999,
  gray80: #ccc,
  whisper: #e7e7e7,
  riptide: #95e1d3);
$fonts:(mont: 'Montserrat',
  kaushan: 'Kaushan Script',
  roboto: 'Roboto',
  sans: sans-serif);
